#cabeceraweb {
    background-color: bisque;
}

#navegacionprincipal{
    background-color: aquamarine;
}

#barralateral{
    background-color: aliceblue;
}

#contenidoprincipal{
    background-color: blanchedalmond;
}

#piedepagina{
    background-color: brown;
}


